extends header

block content
  main
    section._actPage
      header
        article.row
          .col-md-3.col-sm-3.col-xs-12.logo
            img(src='images/logo.png')
          .col-md-9.col-sm-9.col-xs-12.header_right_section
            nav.user
              ul
                li Welcome
                li User
                li Logout
            nav.menu
              ul
                li
                  a(href='#') Home
                li
                  a(href='#') About Us
                li
                  a(href='#') Contact
      article
        .flie_return_section
          .col-md-12
            span.col-md-3.col-sm-3.col-xs-12
              | Contractor / Vendor Name 
              aside :
            span.col-md-9.col-sm-9.col-xs-12
              select
                option Vendor 1
                option Vendor 2
                option Vendor 3
                option Vendor 4
          .col-md-12
            span.col-md-3.col-sm-3.col-xs-12
              | File Return Type
              aside :
            span.col-md-9.col-sm-9.col-xs-12
              select
                option PF
                option ESMIC
          .col-md-12
            span.col-md-3.col-sm-3.col-xs-12
              | File Retuen
              aside :
            span.col-md-9.col-sm-9.col-xs-12
              form(action='/browse', method='GET')
                input#actualPath(type='file', style='padding: 3px 0;')
                input#hiddenPath(type='hidden', name='selPath')
                input(type='button', value='copy path', id="copyPath")
                input(type='submit', value='submit')