doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
    link(rel='icon', href='images/favicon.ico', type='image/png')
    // Bootstrap
    link(href='stylesheets/css/bootstrap.min.css', rel='stylesheet')
    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300', rel='stylesheet', type='text/css')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(href='stylesheets/css/datepicker.min.css', rel='stylesheet', type='text/css')
    // Main Styles
    link(rel='stylesheet', type='text/css', href='stylesheets/css/style.css')
    script(type='text/javascript', src='javascripts/jquery-1.10.2.js')
    script(type='text/javascript', src='javascripts/bootstrap.min.js')
    script(type='text/javascript', src='javascripts/script.js')
    script(type='text/javascript', src='javascripts/canvasjs.min.js')
    script(type='text/javascript', src='javascripts/charts.js')
    script(src='javascripts/datepicker.min.js')
    // Include English language
    script(src='javascripts/datepicker.en.js')
  body
    input#refreshed(type='hidden', value='no')
    main
      nav.navbar.navbar-default.navbar-static-top
        .glass._PAD5
          .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle.navbar-toggle-sidebar.collapsed(type='button')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              button.navbar-toggle.collapsed.menurem(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                i.fa.fa-user
              a.navbar-brand(href='#')
                img(src='images/logo.png', style='position: absolute; top: 5px; width: 50px;')
              //
                <a class="navbar-brand" href="#">
                Admin
                </a>
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse.user_resp_menu
              //
                <form class="navbar-form navbar-left" method="GET" role="search">
                <div class="form-group">
                <input type="text" name="q" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </form>
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='#', target='_blank') Visit Site
                li.dropdown.cart-90deg
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    | Account
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li.dropdown-header SETTINGS
                    li
                      a(href='#') User Setting
                    li
                      a(href='#') Main Setting
                    li
                      a(href='#') Admin Setting
                    li.divider
                    li
                      a(href='/logout') Logout
            // /.navbar-collapse
          // /.container-fluid
      .container-fluid.main-container.menurem
        .col-md-2.col-sm-2.sidebar
          .row
            // uncomment code for absolute positioning tweek see top comment in css
            .absolute-wrapper  
            // Menu
            .side-menu
              nav.navbar(role='navigation')
                // Main Menu
                .side-menu-container
                  ul#slidrmv.nav.navbar-nav
                    li#dashbrd
                      a.activeLink(href='/dashboard')
                        span.fa.fa-tachometer
                        | Dashboard
                    li
                      a(href='/ncUnit/BLR')
                        span.fa.fa-folder
                        | Unit Compliance
                    li
                      a(href='/actwise/PF')
                        span.fa.fa-folder-open-o
                        | Act Compliance
                    li
                      a(href='/ncAll')
                        span.fa.fa-globe
                        | All Compliance
                    li
                      a(href='/vendors')
                          span.fa.fa-users
                          | Vendors & Contractors      
                    li
                      a(href='/actReturn')
                        span.arrow-1-img
                        | Act Returns
                // /.navbar-collapse
        div
          .col-md-10.col-sm-10.content._PAD20.animated.fadeInDown
            .panel.panel-default
              .panel-heading(style='background-color: white;padding: 15px;')
                span#tit1.section_show Dashboard
                span#tit2 Act Returns
                span#tit3 Vendors & Contractors
                span#tit4 File Returns
                span#tit5 Unit Compliance
                span#tit6 Act Compliance
                span#tit7 All Compliance 
              .panel-body.ovrflwH
                article#charts.section_show.fadeInRight
                  #chartContainer1.col-lg-6.col-md-6.col-sm-6.col-xs-12(style='height: 300px;float:left;')
                  #chartContainer2.col-lg-6.col-md-6.col-sm-6.col-xs-12(style='height: 300px;float:left;')
                  br
                  #chartContainer3.col-lg-6.col-md-6.col-sm-6.col-xs-12(style='height: 300px;float:left;')
                  #chartContainer4.col-lg-6.col-md-6.col-sm-6.col-xs-12(style='height: 300px;float:left;')
                  #chartContainer5.col-lg-6.col-md-6.col-sm-6.col-xs-12(style='height: 300px;float:left;')
                  #chartContainer6.col-lg-6.col-md-6.col-sm-6.col-xs-12(style='height: 300px;float:left;')
