extends header

block content
  input#refreshed(type='hidden', value='no')
  script(type='text/javascript').
      onload=function(){
      var e=document.getElementById("refreshed");
      if(e.value=="no")e.value="yes";
      else{e.value="no";location.reload();}
      }
  main
      nav.navbar.navbar-default.navbar-static-top
        .glass._PAD5
          .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle.navbar-toggle-sidebar.collapsed(type='button')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              button.navbar-toggle.collapsed.menurem(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                i.fa.fa-user
              a.navbar-brand(href='#')
                img(src='../images/logo.png', style='position: absolute; top: 5px; width: 50px;')
              //
                <a class="navbar-brand" href="#">
                Admin
                </a>
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse.user_resp_menu
              //
                <form class="navbar-form navbar-left" method="GET" role="search">
                <div class="form-group">
                <input type="text" name="q" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </form>
              ul.nav.navbar-nav.navbar-right
                li
                  a(href='#', target='_blank') Visit Site
                li.dropdown.cart-90deg
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                    | Account
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li.dropdown-header SETTINGS
                    li
                      a(href='#') User Setting
                    li
                      a(href='#') Main Setting
                    li
                      a(href='#') Admin Setting
                    li.divider
                    li
                      a(href='/logout') Logout
            // /.navbar-collapse
          // /.container-fluid
      .container-fluid.main-container.menurem
        .col-md-2.col-sm-2.sidebar
          .row
            // uncomment code for absolute positioning tweek see top comment in css
            .absolute-wrapper  
            // Menu
            .side-menu
              nav.navbar(role='navigation')
                // Main Menu
                .side-menu-container
                  ul#slidrmv.nav.navbar-nav
                    li#filereturn
                      a.activeLink.paddRight(href='/fileReturn')
                        span.folder-active
                        | File Returns
                // /.navbar-collapse
        div
          .col-md-10.col-sm-10.content._PAD20.animated.fadeInDown
            .panel.panel-default
              .panel-heading(style='background-color: white;padding: 15px;')
                span#tit1 Dashboard
                span#tit2 Act Returns
                span#tit3 Vendors & Contractors
                span#tit4.section_show File Returns
                span#tit5 Unit Compliance
                span#tit6 Act Compliance
                span#tit7 All Compliance 
              .panel-body.ovrflwH
                article.fadeInRight
                                  .flie_return_section
                                    .col-md-12
                                      span.col-md-3.col-sm-5.col-xs-12
                                        | Contractor / Vendor Name 
                                        aside :
                                      span.col-md-9.col-sm-7.col-xs-12
                                        select#selectVendorId
                                          each vendor_post, i in vendor_data
                                            option=vendor_post.Vendor_Name
                                    .col-md-12
                                      span.col-md-3.col-sm-5.col-xs-12
                                        | File Return Type
                                        aside :
                                      span.col-md-9.col-sm-7.col-xs-12
                                        select#selectActId
                                          each val, index in data
                                            option=val.Act_Name
                                    .col-md-12
                                      span.col-md-3.col-sm-5.col-xs-12
                                        | File Return
                                        aside :
                                      span.col-md-9.col-sm-7.col-xs-12
                                        input(type='file', id='filePath', style='padding: 3px 0;')
                                    .col-md-12
                                      span.col-md-3.col-sm-5.col-xs-12
                                        | For Month
                                        aside :
                                      span.col-md-9.col-sm-7.col-xs-12
                                        input#fileMonth.datepicker-here(type='text', data-language='en', data-min-view='months', data-view='months', data-date-format='MM yyyy')
                                    .col-md-12
                                      span.col-md-3.col-sm-5.col-xs-12
                                        | Submisson Date
                                        aside :
                                      span.col-md-9.col-sm-7.col-xs-12
                                        input#fileSubmitDate.datepicker-here(type='text', data-language='en', data-date-format='dd MM yyyy')
                                    .col-md-12
                                      button#fileReturnSubmit.btn.btn-primary(type='button', style='width: 135px;padding: 10px;') Submit
        #myModal.modal.fade(role='dialog')
          .modal-dialog.algnCntr
            // Modal content
            .modal-content
              .modal-header.brdrNone
                button.close(type='button', data-dismiss='modal') ×
                h1.modal-title.alignCenter.titleDecortn Success!
                span.successTick ✔
              .modal-body
                p.alignCenter Data successfully inserted.
              .modal-footer.brdrNone
                button.btn.btn-primary.contntCntr(type='button', style='width: 135px;padding: 10px;', data-dismiss='modal') Close                              