doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
    link(rel='icon', href='images/favicon.ico', type='image/png')
    // Bootstrap
    link(href='stylesheets/css/bootstrap.min.css', rel='stylesheet')
    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300', rel='stylesheet', type='text/css')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    // Main Styles
    link(rel='stylesheet', type='text/css', href='stylesheets/css/style.css')
    script(type='text/javascript', src='javascripts/jquery-1.10.2.js')
    script(type='text/javascript', src='javascripts/bootstrap.min.js')
    script(type='text/javascript', src='javascripts/script.js')
  body
    main
      section._login
        .login_container
          .text-center._PDB20PX
            img(src='images/logo.png')
          // <div class="card"></div>
          .card
            h1.title Login
            form(action='/dash', method='POST')
              block content
              .input-container
                input#Username(type='text', name='username', required='required')
                label(for='Username') Username
                .bar
              .input-container
                input#Password(type='password', name='password', required='required')
                label(for='Password') Password
                .bar
              .button-container
                button
                  span Go

              // <div class="footer"><a href="#">Forgot your password?</a></div>
