extends header

block content
  input#refreshed(type='hidden', value='no')
  script(type='text/javascript').
    onload=function(){
    var e=document.getElementById("refreshed");
    if(e.value=="no")e.value="yes";
    else{e.value="no";location.reload();}
    }
  main
    nav.navbar.navbar-default.navbar-static-top
      .glass._PAD5
        .container-fluid
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.navbar-toggle-sidebar.collapsed(type='button')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            button.navbar-toggle.collapsed.menurem(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              i.fa.fa-user
            a.navbar-brand(href='#')
              img(src='../images/logo.png', style='position: absolute; top: 5px; width: 50px;')
            //
              <a class="navbar-brand" href="#">
              Admin
              </a>
          // Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse.user_resp_menu
            //
              <form class="navbar-form navbar-left" method="GET" role="search">
              <div class="form-group">
              <input type="text" name="q" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </form>
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#', target='_blank') Visit Site
              li.dropdown.cart-90deg
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | Account
                  span.caret
                ul.dropdown-menu(role='menu')
                  li.dropdown-header SETTINGS
                  li
                    a(href='#') User Setting
                  li
                    a(href='#') Main Setting
                  li
                    a(href='#') Admin Setting
                  li.divider
                  li
                    a(href='/logout') Logout
          // /.navbar-collapse
        // /.container-fluid
    .container-fluid.main-container.menurem
      .col-md-2.col-sm-2.sidebar
        .row
          // uncomment code for absolute positioning tweek see top comment in css
          .absolute-wrapper  
          // Menu
          .side-menu
            nav.navbar(role='navigation')
              // Main Menu
              .side-menu-container
                ul#slidrmv.nav.navbar-nav
                  li
                    a(href='/dashboard')
                      span.fa.fa-tachometer
                      | Dashboard
                  li#nc_unit
                    a.activeLink(href='/ncUnit/BLR')
                      span.fa.fa-folder
                      | Unit Compliance
                  li
                    a(href='/actwise/PF')
                      span.fa.fa-folder-open-o
                      | Act Compliance
                  li
                    a(href='/ncAll')
                      span.fa.fa-globe
                      | All Compliance
                  li
                    a(href='/vendors')
                          span.fa.fa-users
                          | Vendors & Contractors      
                  li
                    a(href='/actReturn')
                      span.arrow-1-img
                      | Act Returns
              // /.navbar-collapse
      div
        .col-md-10.col-sm-10.content._PAD20.animated.fadeInDown
          .panel.panel-default
            .panel-heading(style='background-color: white;padding: 15px;')
              span#tit1 Dashboard
              span#tit2 Act Returns
              span#tit3 Vendors & Contractors
              span#tit4 File Returns
              span#tit5.section_show Unit Compliance
              span#tit6 Act Compliance
              span#tit7 All Compliance 
            .panel-body.ovrflwH
              article.fadeInRight
                div
                  .dropdown
                    button.btn.btn-primary.dropdown-toggle.btn_wdth(type='button', data-toggle='dropdown')
                      | #{ncUnitName}
                      span.caret.algnRight
                    ul.dropdown-menu
                      each val, index in act_data
                        li
                          a#changed(href='/ncUnit/#{val.Unit_Name}') #{val.Unit_Name}
                .table-responsive
                  table.table.table-bordered
                    thead
                      tr
                        th ID
                        th Vendor Name
                        th Act Name
                        th For Month
                        th Submission Date
                        th.alignCenter Status
                    tbody
                      each actval, index in ncUnitAct
                        tr
                          td=actval.ID
                          td=actval.Act_Name
                          td=actval.Vendor_Name
                          td=actval.For_Month
                          td=actval.Submission_Date
                          td.alignCenter
                            if actval.Return_Status==2
                              span.tick ✔
                            else
                              span.cross ✗